<main class="m-5 flex items-start justify-center">
  <section class="">
    <h2 class="text-3xl font-bold mb-4">Recent Recordings:</h2>
    <%= render partial: 'audios/audios', locals: { audios: @audios } %>
  </section>

  <section class="flex flex-col items-start ml-28">
    <h2 class="text-2xl font-bold mb-4">Equipment</h2>
    <%= render partial: 'equipment/equipment', locals: { equipment: @equipment } %>
  </section>
</main>
