<%= turbo_frame_tag item do %>

  <%= link_to item, class: "mb-2 text-black-500 block px-5 p-2 bg-gray-100 rounded-md transition hover:delay-100 hover:bg-gray-300" do %>
    <div class="flex items-center justify-left text-lg">
      <div>
        <h3 class="font-medium"><%= item&.name %>:</h3>
      </div>

      <div class="ml-3 flex items-center">
        <span class="rounded-full h-4 w-4
          <% case item&.status %>
            <% when 'in_operation', 'ready' %>
              bg-green-500
            <% when 'initializing' %>
              bg-orange-500
            <% else %>
              bg-red-500
          <% end %>"
        ></span>
        <p class="font-medium text-orange-600 ml-2"><%= item.status&.humanize %></p>
      </div>
    </div>
  <% end %>

<% end %>
